[Unit]
Description=Expose the libsecret dbus api with pass as backend

[Service]
BusName=org.freedesktop.secrets
ExecStart=/usr/local/bin/pass_secret_service
